*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #303133;
  background-color: #fff;
}

a {
  color: mix(#fff, #66b1ff, 20%);
  text-decoration: none;
  outline: none;

  &:focus,
  &:hover {
    color: #409EFF;
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
}
.vxe-table {
  th, td {
    height: 40px !important;
    padding: 0 !important;
  }

  th {
    //.vxe-cell {
    //  height: 100%;
    //  display: flex;
    //}
  }

  .vxe-filter--btn {
    font-size: 16px;
  }

  .vxe-cell--checkbox {
    padding-left: 16px !important;

    .vxe-checkbox--icon::before {
      border-width: 1px !important;
    }
  }

  .vxe-footer--row {
    font-weight: 700;
  }
}
.popup-page {
  position: absolute;
  width: 100%;
  height: 100%;
  // padding: 10px 10px;
  left: 0;
  top: 0;
  z-index: 1001;

  .popup-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 10px 0;
    flex-flow: column nowrap;
    background-color: #fff;

    .el-form-item {
      .el-form-item__label {
        font-size: 14px;
      }
    }

    .popup-page-header {
      display: flex;
      align-items: center;

      .back {
        font-size: 25px;
      }

      .title {
        margin-left: 10px;
        font-size: 20px;
      }

      .tips {
        margin-left: 20px;
        font-size: 14px;
        color: #1890FF;
      }
    }

    .popup-page-main {
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      flex: auto;

      .main {
        width: 70%;
        flex: auto;

        .el-select {
          width: 100%;
        }
      }
    }

    .popup-page-bottom {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin-bottom: 10px;

      .line {
        width: 100vw;
        margin-left: -10vw;
        height: 1px;
        border-top: 1px solid #D8D8D8;
      }

      .bottom {
        width: 80%;
        max-width: 920px;
        padding-top: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background: #fff;

        .el-button {
          width: 80px;
        }
      }
    }
  }
}
.base-frame-tab {
  height: 100%;

  .el-tabs {
    height: 100%;
    .el-tab-pane {
      height: 100%;
    }
  }

  .el-tabs__nav-wrap {
    padding: 0 20px;
  }

  .el-tabs__nav-wrap::after {
    background-color: #FFFFFF;
  }

  .el-tabs__header {
    height: 50px;
    padding-top: 10px;
    margin: 0;
  }

  .el-tabs__content {
    height: calc(100% - 50px) !important;
    //margin-top: 1px;
  }
}
.site-wrapper {
  .el-pagination {
    //margin-top: 10px;
    text-align: right;
  }
}
.site-wrapper {
  position: relative;
}
.custom-dialog {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;

  .half-height {
    height: 50%;
  }

  .el-dialog {
    margin: auto !important;

    .el-dialog__header {
      padding: 12px 16px;
      border-bottom: 1px solid #dddfe6;

      .el-dialog__title {
        font-size: 16px;
        font-weight: 700;
        color: #333333;
      }

      .el-dialog__headerbtn {
        top: 10px;
        right: 16px;
        font-size: 23px;
      }
    }

    .el-dialog__body {
      height: calc(100% - 49px - 49px);
      padding: 10px 16px;

      .el-form {
        .el-form-item__label, .el-input__inner {
          font-size: 14px;
        }
      }
    }

    .el-dialog__footer {
      padding: 10px 16px;
      border-top: 1px solid #dddfe6;
      position: relative;

      .el-button {
        min-width: 76px;
      }
    }
  }
}
