$headerBgColor: #545c64;
$fontFamily:"Microsoft YaHei",
Helvetica Neue,
Helvetica,
PingFang SC,
"微软雅黑",
Tahoma,
Arial,
sans-serif;
// 表格位置
$tableCalc: calc(100vh - (306px + 60px));
// 确认框样式
.subDelete {
  border-color: #409EFF !important;
  background-color: #409EFF !important;
}
//
.form-rules-show {
  /deep/.el-form-item__label {
    &:before {
      content: '' !important;
    }
  }
}
