//common.scss 样式调整
.relative,
.rela {
  position: relative;
}

.absolute,
.abso {
  position: absolute;
}

.fontxs {
  font-size: 22px;
}

.fontsm {
  font-size: 26px;
}

.fontmd {
  font-size: 28px;
}

.fontlg {
  font-size: 30px;
}

.fontxl {
  font-size: 34px;
}

.flex {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: row;
}

.fw,
.flexwrap {
  flex-wrap: wrap;
}
.fnw,
.flexnowrap {
  flex-wrap: nowrap;
}

.cc,
.colcenter {
  align-items: center;
}

.ct,
.coltop {
  align-items: flex-start;
}

.cb,
.colbottom {
  align-items: flex-end;
}

.rc,
.rowcenter {
  justify-content: center;
}

.rl,
.rowleft {
  justify-content: flex-start;
}

.rr,
.rowright {
  justify-content: flex-end;
}

.rb,
.rowbetween {
  justify-content: space-between;
}

.ra .rowaround {
  justify-content: space-around;
}

.tl,
.textleft {
  text-align: left;
}

.tc,
.textcenter {
  text-align: center;
}

.tr,
.textright {
  text-align: right;
}

.flexcol {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: column;
}

// 定义flex等分
@for $i from 0 through 12 {
  .f#{$i},
  .flex#{$i} {
    flex: $i;
  }
}

// 定义字体(px)单位，小于20都为px单位字体
@for $i from 9 to 20 {
  .font#{$i} {
    font-size: $i + px;
  }
}

// 定义字体(px)单位，大于或等于20的都为px单位字体
@for $i from 20 through 40 {
  .font#{$i} {
    font-size: $i + px;
  }
}

// 定义内外边距，历遍1-80
@for $i from 0 through 80 {
  // 只要双数和能被5除尽的数
  @if $i % 2 == 0 or $i % 5 == 0 {
    // 得出：margin30或者m30
    .margin#{$i},
    .m#{$i} {
      margin: $i + px !important;
    }

    // padding30或者p30
    .padding#{$i},
    .p#{$i} {
      padding: $i + px !important;
    }

    .mlr#{$i} {
      margin-left: $i + px !important;
      margin-right: $i + px !important;
    }

    .mtb#{$i} {
      margin-top: $i + px !important;
      margin-bottom: $i + px !important;
    }

    .plr#{$i} {
      padding-left: $i + px !important;
      padding-right: $i + px !important;
    }

    .ptb#{$i} {
      padding-top: $i + px !important;
      padding-bottom: $i + px !important;
    }

    @each $short, $long in l left, t top, r right, b bottom {
      // 缩写版，结果如： ml30
      // 定义外边距
      .m#{$short}#{$i} {
        margin-#{$long}: $i + px !important;
      }

      // 定义内边距
      .p#{$short}#{$i} {
        padding-#{$long}: $i + px !important;
      }

      // 完整版，结果如：marginleft30
      // 定义外边距
      .margin#{$long}#{$i} {
        margin-#{$long}: $i + px !important;
      }

      // 定义内边距
      .padding#{$long}#{$i} {
        padding-#{$long}: $i + px !important;
      }
    }
  }
}

// 重置nvue的默认关于flex的样式
.resetnvue {
  flex-direction: row;
  align-items: center;
}

/***
 为uview样式扩展的扩展样式
***/
//加粗字体
.fontbold,
.fb {
  font-weight: bold;
}
//左浮动
.floatleft,
.fl {
  /* #ifndef APP-PLUS-NVUE */
  float: left;
  /*#endif*/
}
//右浮动
.floatright,
.fr {
  /* #ifndef APP-PLUS-NVUE */
  float: right;
  /*#endif*/
}
//悬浮属
.fixed,
.fix {
  position: fixed;
}

// 定义主题文字，单位px
@for $i from 9 to 30 {
    .font#{$i} {
      font-size: $i + px !important;
    }
}

.typepagewrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.mh100p {
  min-height: 100%;
}
.typecontentwrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

//背景色
.bgf4 {
  background-color: #f4f4f4;
}

.bgf {
  background-color: #fff;
}

//字体颜色


.colorf,
.clf {
  color: #fff;
}

.color0,
.cl0 {
  color: #000;
}

.color3,
.cl3 {
  color: #333;
}
.color6,
.cl6 {
  color: #666;
}
.color9,
.cl9 {
  color: #999;
}

//为表示小数，加-
.lineheight1-5,
.lh1-5 {
  line-height: 1.5em;
}
.df {
  display: flex;
}
//布局
//内容水平居中   在u-view中有定义 u-row-  和u-col的属性看能结合使用不
.flexrowcenter,
.frc {
  display: flex;
  justify-content: center;
}

//内容垂直水平居中
.flexcenter,
.frcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

//内容垂直居中
.flexcolcenter,
.fcc {
  display: flex;
  align-items: center;
}

.flexrowbetween,
.frb {
  display: flex;
  justify-content: space-between;
}

.flexrowaround,
.fra {
  display: flex;
  justify-content: space-around;
  //align-items: center;
}

//绝对定位 垂直居中
.absolutecolcenter,
.acc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//绝对定位 水平居中
.absoluterowcenter,
.arc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//绝对定位 垂直水平居中
.absolutecenter,
.ac {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flexshrink0,
.fs0 {
  flex-shrink: 0;
}

.minheight100,
.mh100 {
  min-height: 100%;
}
.heightauto,
.ha {
  height: auto;
}
.width100,
.w100 {
  width: 100%;
}
.height100,
.h100 {
  height: 100%;
}

//溢出隐藏
.overflowhidden,
.ofh {
  overflow: hidden;
}

.fontfamilylight,
.ffl {
  font-family: PingFangSC-Light, PingFang SC;
}
.fontfamilyregular,
.ffr {
  font-family: PingFangSC-regular, PingFang SC;
}
.fontfamilymedium,
.ffm {
  font-family: PingFangSC-medium, PingFang SC;
}

//文字行数溢出隐藏
.l1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.l2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.l3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}